.table-container {
    width: 90%;
    overflow-x: auto;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.workout-title {
    text-align: center;
    color: var(--ion-color-primary);
}

td {
    border: 1px inset var(--ion-color-primary);
    padding: 1rem;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

th {
    padding: 1.5rem;
}

li {
    list-style: none;
    padding-top: 1.7rem;
}

li:first-child {
    padding-top: 0rem;
}

.description {
    display: block;
    font-size: 0.8rem;
}

thead {
    color: var(--ion-color-tertiary);
}

@media (max-width: 767px) {
    .table-container {
        width: 100%;
    }
}